{% extends 'BtnAdminBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'BtnAdminBundle:_partials:container_session_flash.html.twig' only %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block fos_user_content %}{% endblock fos_user_content %}
                {% block forgot_password_link %}
                    {% if 'resetting' not in app.request.pathInfo and 'profile' not in app.request.pathInfo %}
                        <a href="{{ path('fos_user_resetting_request') }}" class="forgot_password fadeInDownPw">{{ 'btn_admin.login_reset_password' | trans }}</a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
     </div>
{% endblock %}
