{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <div class="col-md-12 well well-lg">
        {% block list_header %}{% endblock %}

        {% block list_table %}{% endblock %}

        {% block list_pagination %}{% endblock %}

        {% block list_buttons %}{% endblock %}
    </div>
{% endblock %}
