{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                {% block form_content %}
                    {# base block to override #}
                    {% if form is defined %}
                        {% include 'BtnAdminBundle::_form_content.html.twig' with {form: form} only %}
                    {% endif %}
                {% endblock %}
                <div class="btn-group">
                    {% include 'BtnAdminBundle::_form_buttons_pre.html.twig' ignore missing with {form: form} only %}
                    {% block form_buttons %}
                        {# base block to override #}
                    {% endblock %}
                    {% include 'BtnAdminBundle::_form_buttons_post.html.twig' ignore missing with {form: form} only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
