{% extends "BtnAdminBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% block panel_title %}{% endblock %}</h3>
        </div>
        <div class="panel-body">
            {% block panel_body %}{% endblock %}
        </div>
    </div>
{% endblock %}
