/*************************
 *
 * Reset original bootstrap things
 *
 **************************/
body {
    padding-top: 50px;
    background: rgb(241, 242, 246);
}

h2 small {
    color: #777777;
}

.well,
.breadcrumb,
.pagination > li > a, .pagination > li > span,
.alert,
.btn,
.form-control,
.breadcrumb-arrow li a,
.input-group-addon,
.dropdown-menu,
.panel,
.panel-heading,
.panel-body {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-control,
input[type="text"].form-control,
input[type="email"].form-control,
input[type="tel"].form-control,
input[type="search"].form-control,
input[type="url"].form-control,
input[type="password"].form-control,
.ui-autocomplete-input,
textarea,
.uneditable-input {
    padding: 6px 12px;
    font-size: 14px;
}

.btn-flash-message .alert {
    margin: 0 !important;
}

/* bootsrtap confirmation */
.popover.bottom {
    left: 0 !important;
}

.btn-back:before {
    content: "\00ab";
}

.breadcrumb {
    margin: 0;
}

/*************************
 *
 * Utilities
 *
 **************************/
.top-offset {
    margin-top: 25px;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

/*************************
 *
 * FOS user for reset password fixes
 *
 **************************/
.fos_user_change_password,
.alert.alert-success.fade.in,
.fos_user_user_show,
.fos_user_profile_edit,
.fos_user_registration_register {
    margin-top: 20px;
}

/*************************
 *
 * BtnAdmin specific things
 *
 **************************/
th.btn-admin-column-id  {
    width: 50px;
}

th.btn-admin-column-action {
    width: 200px;
}

th.btn-admin-column-action.btn-admin-column-action-sm {
    width: 100px;
}

th.btn-admin-column-action.btn-admin-column-action-lg {
    width: 300px;
}

.btn-admin-list-header {
    font-size: 24px;
    margin-top: 0px;
}

.btn-admin-tree-title {
  font-size: 12px;
}
/*************************
 *
 * Colorpicker/datepicker specific things
 *
 **************************/
.dropdown-menu.color-menu,
.dropdown-menu.datetimepicker {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.pick-a-color-markup .color-preview,
.pick-a-color-markup .color-box,
.pick-a-color-markup .color-menu-tabs .tab,
.pick-a-color-markup .color-menu-tabs .tab-active {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
}
