body {
    padding-top: 50px;
    background: rgb(241, 242, 246);
}

.top-offset {
    margin-top: 25px;
}

/* bootsrtap confirmation */
.popover.bottom {
    left: 0 !important;
}

/* change password view */
.fos_user_change_password, .alert.alert-success.fade.in, .fos_user_user_show {
    margin-top: 20px;
}
